.c-rorschach {
    background-color: #000;
    height: 100vh;
    input {
        background: transparent;
        border: 1px solid #f2f2f2;
        border-radius: 5px;
        height: 32px;
        padding: 8px;
        color: #f2f2f2;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    &__controller {
        position: absolute;
        right: 8px;
        top: 8px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
                border: 1px solid #f2f2f2;
                        border-radius: 5px;
        padding: 12px 12px 4px 12px;
        z-index: 1;
    }
}
