.c-rubik-cube {
    &__menu {
        position: absolute;
        top: 5px;
        left: 5px;
                color: #f2f2f2;
        border: 2px solid #ccc;
        border-radius: 5px;
        z-index: 1;
        padding: 5px;
    }
    &__menu-container {
        display: flex;
    }
    &__menu-title {
        margin: 0;
        font-size: 1.2rem;
    }
    &__axis {
        display: flex;
        flex-direction: column;
        padding: 0 6px;
    }
    &__button {
        color: #f2f2f2;
        background: unset;
        border: unset;
        outline: unset;
        padding: 5px 0;
    }
    &__axis-title {
                color: #f2f2f2;
    }
}
