/*********************** GENERAL STYLE ***********************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

/*********************** CANVAS ***********************/
.webgl {
    left: 0;
    outline: none;
    position: fixed;
    top: 0;
}
