*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f2f2;
}
header nav {
    background-color: blue;    
    ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        justify-content: flex-end;
        li a {
            background-color: blue;    
            display: block;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            &:hover {
                background-color: rgb(102, 102, 255);    
                transition: background-color 0.3s;
            }
        }
    }
}

main {
    margin-top: 50px;
}

h2 {
    margin-bottom: 20px;
}

.model_display {
    display: flex;
    .model_ctn {
        width: 50%;
        canvas {
            outline: none;
        }
    }
    .model_text {
        margin: auto 0;
        width: 50%;
    }
}